<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is Home page</h1>

    <p>Name: {{name}}</p>
    <p>Age: {{age}}</p>

    <h4>List</h4>
    <ol>
        {% for i in mylist %}
            <li>{{i}}</li>
        {% endfor %}
    </ol>

    <ul>
        {% for i in mylist %}
            <li>{{i}}</li>
        {% endfor %}
    </ul>

    <h4>Tuple</h4>
    <ol>
        {% for i in mytuple %}
            <li>{{i}}</li>
        {% endfor %}
    </ol>

    <h4>Dictionary</h4>
    <ol>
        {% for i,j in thisdict.items %}
            <li>{{i}}: {{j}}</li>
        {% endfor %}
    </ol>

    <ol>
        <li>brand: {{thisdict.brand}}</li>
        <li>model: {{thisdict.model}}</li>
        <li>year: {{thisdict.year}}</li>
    </ol>
</body>

</html>